<main>
  <h1>Pokédex</h1>
  <div class="mode_buttons">
    <button [disabled]="!listMode" mat-icon-button aria-label="Cards" (click)="setCardMode()">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button [disabled]="listMode" mat-icon-button aria-label="List" (click)="setListMode()">
      <mat-icon>lists</mat-icon>
    </button>
  </div>
  
  @if (listMode) {
    <mat-list [@fadeIn]>
      @for (pokemon of pokemons; track $index) {
        <app-list-item [id]="pokemon.url.split('/').at(-2) ?? ''" [name]="pokemon.name"></app-list-item>
      }
    </mat-list>
  } @else {
    <div class="grid" [@fadeIn]>
    @for (pokemon of pokemons; track $index) {
      <app-list-card [id]="pokemon.url.split('/').at(-2) ?? ''" [name]="pokemon.name"></app-list-card>
    }
    </div>
  }

  @if (pokemons === undefined) {
    <mat-spinner></mat-spinner>
  }

  <mat-paginator [length]="count"
                [pageSize]="limit"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onPageChange($event)"
                aria-label="Select page">
  </mat-paginator>
</main>
