/* You can add global styles to this file, and also import other style files */
:root {
  --pokedex-color: #ca1c1b;
  --pokedex-color-light: #f45068;
  --pokedex-control: #829bd1;
  --pokedex-screen-border: #d3d4cf;
  --pokedex-screen: #7ebf61;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
